*~$*
._*
.DS_Store
Thumbs.db
desktop.ini

*.gcda
*.gcno
*.pyc
*.d
*.o
*.ncrunchproject
SWAG.v2.ncrunchsolution
_NCrunch_*
*.tmp_proj

bin
/tpt-building-temp/*
/build/*
/optwell-*.exe
doxy-out/*
mono/*

tests.xml
coverage-html

tags

.idea/*

csv/*
docs/*

callgrind.*

**/obj/**/*
*.pdb
*FileListAbsolute.txt
*.cache

#Visual Studio
*.suo
*.user
*.psess
*.vsp
packages/
*.sln.ide/
*.sublime-workspace
*GhostDoc.xml
*.DotSettings.user
.vs/

*.ilk
*.exp
*.lib
*.metagen
*.VC.db
*.VC.opendb
doc/
*~$*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
